Year_III/SEM_2/IOTCA - IoT & Cloud Computing/LAB/Lab 3/lab3.json
[{"id":"45987e09.34b14","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"7ab2cbe0.3ff494","type":"inject","z":"45987e09.34b14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"example","payloadType":"str","x":200,"y":60,"wires":[["a4525535.a21218","28334306.9d77ec","187a8ce2.2b5b73","9d58c95a.84e468"]]},{"id":"4443b3b9.11651c","type":"debug","z":"45987e09.34b14","name":"First:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"a4525535.a21218","type":"change","z":"45987e09.34b14","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["4443b3b9.11651c"]]},{"id":"28334306.9d77ec","type":"change","z":"45987e09.34b14","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"example","fromt":"str","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["12352c5c.d03814"]]},{"id":"187a8ce2.2b5b73","type":"change","z":"45987e09.34b14","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["56f4f3db.f9ad6c"]]},{"id":"9d58c95a.84e468","type":"change","z":"45987e09.34b14","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":180,"wires":[["f5003963.8e88e8"]]},{"id":"12352c5c.d03814","type":"debug","z":"45987e09.34b14","name":"Second:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":100,"wires":[]},{"id":"56f4f3db.f9ad6c","type":"debug","z":"45987e09.34b14","name":"Third:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"f5003963.8e88e8","type":"debug","z":"45987e09.34b14","name":"Fourth:","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"34ec6777.4c52a8","type":"template","z":"45987e09.34b14","name":"Variables","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} {{name}}!","output":"str","x":580,"y":280,"wires":[["b89ef5d2.436fc8"]]},{"id":"b89ef5d2.436fc8","type":"debug","z":"45987e09.34b14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"fb44beee.718ff","type":"inject","z":"45987e09.34b14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi","payloadType":"str","x":170,"y":280,"wires":[["7bad902c.99963"]]},{"id":"7bad902c.99963","type":"change","z":"45987e09.34b14","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"CTI-EN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["34ec6777.4c52a8"]]},{"id":"a61c8e97.8be8","type":"inject","z":"45987e09.34b14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":340,"wires":[["552a9bae.0bfb24"]]},{"id":"3f3b1c0d.8344d4","type":"template","z":"45987e09.34b14","name":"Non-Empty Lists and Inverted sections","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.cats}}\n  {{name}}\n{{/payload.cats}}\n{{^payload.cats}}\n  No cat present\n{{/payload.cats}}\n","output":"str","x":710,"y":340,"wires":[["b89ef5d2.436fc8"]]},{"id":"552a9bae.0bfb24","type":"function","z":"45987e09.34b14","name":"Adding objects in an array","func":"msg.payload = {\n    cats:[\n        {name:\"Milo\"},\n        {name:\"Lilly\"},\n        {name:\"Charity\"}\n    ]\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["3f3b1c0d.8344d4"]]},{"id":"e9f731e2.a88cf","type":"function","z":"45987e09.34b14","name":"Empty array","func":"msg.payload = {\n    cats:[]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":380,"wires":[["3f3b1c0d.8344d4"]]},{"id":"29fad691.c250ea","type":"inject","z":"45987e09.34b14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["e9f731e2.a88cf"]]}]