Year_III/SEM_2/IOTCA - IoT & Cloud Computing/LAB/Lab 1/export.json
[
	{
		"id": "712322c51084a009",
		"type": "tab",
		"label": "Lab 1",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "88fbff14eb941203",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"x": 170,
		"y": 100,
		"wires": [["799683aae1126e46"]]
	},
	{
		"id": "799683aae1126e46",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 100,
		"wires": []
	},
	{
		"id": "bcadd0e9851401b1",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"x": 170,
		"y": 160,
		"wires": [["6d27ddaea8d6a92e"]]
	},
	{
		"id": "f7a8b434a74a9b9c",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 160,
		"wires": []
	},
	{
		"id": "6d27ddaea8d6a92e",
		"type": "change",
		"z": "712322c51084a009",
		"name": "",
		"rules": [
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "World",
				"fromt": "str",
				"to": "DAMN",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 400,
		"y": 160,
		"wires": [["f7a8b434a74a9b9c"]]
	},
	{
		"id": "8548f24e16360321",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"x": 170,
		"y": 220,
		"wires": [["d430fc6d74b86130"]]
	},
	{
		"id": "a2f846aadd71a55e",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 220,
		"wires": []
	},
	{
		"id": "d430fc6d74b86130",
		"type": "function",
		"z": "712322c51084a009",
		"name": "",
		"func": "const oldMessage = msg.payload;\nconst newMessage = oldMessage.replace(\"World\", \"DAMN\")\n\nreturn {payload: newMessage};",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 400,
		"y": 220,
		"wires": [["a2f846aadd71a55e"]]
	},
	{
		"id": "ca2948364719d34f",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Hello World",
		"payloadType": "str",
		"x": 170,
		"y": 280,
		"wires": [["b7db688cae0a6c3c", "1945eb112f6196b2"]]
	},
	{
		"id": "b7db688cae0a6c3c",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 280,
		"wires": []
	},
	{
		"id": "1945eb112f6196b2",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "true",
		"targetType": "full",
		"statusVal": "",
		"statusType": "auto",
		"x": 610,
		"y": 340,
		"wires": []
	},
	{
		"id": "98a5f444d7055719",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "{\"payload\":\"Akita Inu\",\"fur\":\"White\",\"origin\":\"Japan\"}",
		"payloadType": "json",
		"x": 150,
		"y": 440,
		"wires": [["d2a54b6e549a2d0d"]]
	},
	{
		"id": "d2a54b6e549a2d0d",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload.origin",
		"targetType": "jsonata",
		"statusVal": "",
		"statusType": "auto",
		"x": 620,
		"y": 440,
		"wires": []
	},
	{
		"id": "405563d9d804739b",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 140,
		"y": 540,
		"wires": [["f3fe5bb5611aab87"]]
	},
	{
		"id": "f3fe5bb5611aab87",
		"type": "function",
		"z": "712322c51084a009",
		"name": "",
		"func": "const m1 = {payload: \"Hello\"}\nconst m2 = {payload: \"World\"}\nconst m3 = {payload: \"!\"}\n\nreturn [[m1, m2], m3];",
		"outputs": 2,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 380,
		"y": 540,
		"wires": [["52e442caac06b572"], ["b34288ee60925eb7"]]
	},
	{
		"id": "52e442caac06b572",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 540,
		"wires": []
	},
	{
		"id": "b34288ee60925eb7",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 600,
		"wires": []
	},
	{
		"id": "07e75003aa29ccf7",
		"type": "inject",
		"z": "712322c51084a009",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "this is a test",
		"payloadType": "str",
		"x": 150,
		"y": 720,
		"wires": [["cdeae30d4b3fa449"]]
	},
	{
		"id": "cdeae30d4b3fa449",
		"type": "function",
		"z": "712322c51084a009",
		"name": "",
		"func": "const message = msg.payload\nconst words = message.split(\" \")\nconst output = words.map(word => ({payload: word}))\n\nreturn output",
		"outputs": 6,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 380,
		"y": 720,
		"wires": [
			["6dbc869b282636b6"],
			["9c0755bc118bd727"],
			["d288c293abfb54a0"],
			["936ab80954cb9806"],
			["4760e22076210b48"],
			["9b98604011bd8c12"]
		]
	},
	{
		"id": "6dbc869b282636b6",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 680,
		"wires": []
	},
	{
		"id": "9c0755bc118bd727",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 720,
		"wires": []
	},
	{
		"id": "d288c293abfb54a0",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 760,
		"wires": []
	},
	{
		"id": "936ab80954cb9806",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 800,
		"wires": []
	},
	{
		"id": "4760e22076210b48",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 840,
		"wires": []
	},
	{
		"id": "9b98604011bd8c12",
		"type": "debug",
		"z": "712322c51084a009",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 880,
		"wires": []
	}
]
